VITE_SUPABASE_URL=https://ndgsmkrrgthrhnrontft.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5kZ3Nta3JyZ3Rocmhucm9udGZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg1OTExNTUsImV4cCI6MjA5NDE2NzE1NX0.4iPTNgunSgDfwfyjZQJN8xAUoPqRJNBZ0iDnenWCzbQ